.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px !important;
  margin-bottom: 32px;
}

.game-header__player {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100px;
}

.game-header__player--you {
  align-items: flex-start;
}

.game-header__player--opp {
  align-items: flex-end;
}

.game-header__name {
  font-size: 8px;
}

.game-header__score {
  font-size: 16px;
  line-height: 1;
}

.game-header__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.game-header__title {
  font-size: 10px;
  color: var(--white);
  text-align: center;
}

